* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Helvetica, sans-serif;
   
}

.title {
    display: inline-block;
    vertical-align:middle;
    
}

.header {
    padding: 10px;
    
}

.logo {
    vertical-align:middle;
}


