* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Asimov', sans-serif;
   
}

.title {
    display: inline-block;
    vertical-align:middle;
    
}

.header {
    padding: 10px;
    
}

.logo {
    vertical-align:middle;
}

.container_title {
    width: 900px;
    height: 60px;
    background-color: white;
    margin: 50px auto 1px;
    border-radius: 5px;
    
}

.align_text{
    margin-left: 50px;
    padding: 10px;
    vertical-align: 2px;
    line-height: 40px;
    
}
.container_main {
    width: 900px;
    background-color: white;
    margin: 5px auto;
    border-radius: 5px;
}
.bg {
    width: 1230px;
    background-color:#F6F8F9;
    display: inline-block;
}

.button{
background-color: #47ADF1;
color: white;
padding: 8px;
border-radius: 5px;

}

.button_section {
    color: #CBD1D5;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #CBD1D5;
}

.task {
    font-size: 20px;
    ;
    display: block;
}

.icon_v {
    font-size: 10px;
    color: green;
    border: 1px solid green;
    padding: 3px;
    border-radius: 50%;
    
}

.icon_x {
    font-size: 10px;
    color: red;
    border: 1px solid red;
    padding: 3px;
    border-radius: 50%;
    
}

.text {
    margin: 5px;
}

.editorial_blue {
    font-size: 10px;
    color: white;
    background-color: #47ADF1;
    padding: 5px;
    border-radius: 20px;

}

.editorial_purple {
    font-size: 10px;
    color: white;
    background-color: #9C72E4;
    padding: 5px;
    border-radius: 20px;
}

.editorial_green {
    font-size: 10px;
    color: white;
    background-color: #64C0A9;
    padding: 5px;
    border-radius: 20px;
}

.editorial_orange {
    font-size: 10px;
    color: white;
    background-color: #F29E33;
    padding: 5px;
    border-radius: 20px;
}

.editorial_rose {
    font-size: 10px;
    color: white;
    background-color: #D863A1;
    padding: 5px;
    border-radius: 20px;
}

.editorial_lime {
    font-size: 10px;
    color: white;
    background-color: #B0C926;
    padding: 5px;
    border-radius: 20px;
}

.line {
    display: block;
}

